
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Kenia&family=Montserrat:wght@200;700&family=Russo+One&display=swap');

#root {
  margin: 0px;
  padding: 0px;
}
body {
  margin: 0px;
  padding: 0px;
}

/*APP*/
.divApp{
  width: 100%;
  height: 100vh;
}

/*LANDING PAGE*/
.divLandingPage{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.videoLandingPage{
  width: 100%;
  height: 100%;
  position: relative;
}


.overlayContent {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  color: white     
}

.overlayContent button{
  margin-bottom: 100px;
}

.neonText{
  margin-top: 50px;
  font-family: 'Inter', sans-serif;
  font-family: 'Kenia', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Russo One', sans-serif;
  font-size: 120px;
  cursor:pointer;
  transition: .3s linear;
  color: transparent;
  -webkit-text-stroke: 2px rgb(246, 246, 68);
  background-image: linear-gradient(to left,
  rgb(29, 29, 7),rgb(246, 246, 68),rgb(161, 161, 44),black,rgb(35,31,31));
  background-size: 200%;
  -webkit-background-clip: text;
  animation: move 10s linear infinite;
}

@keyframes move {
  100% {
    background-position: 2000px 0;
  }
}

.neonText:hover{
  text-shadow: 0 0 10px rgba(238, 233, 62, 0.5),
                0 0 20px rgba(242, 111, 102, 0.35),
                0 0 40px rgba(215, 166, 246, 0.35),
                0 0 80px rgba(246, 242, 123, 0.5),
                0 0 160px rgba(246, 241, 117, 0.5);
}

.startButton{
  padding: 20px 60px;
  font-size: 35px;
  cursor: pointer;
  border-radius: 16px;
  border: none;
  outline: none;
  background-color: rgb(25, 21, 29,0.9);
  color: rgb(241, 237, 167);
  position: relative;
  font-family: 'Inter', sans-serif;
  font-family: 'Kenia', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Russo One', sans-serif;
}

.startButton::after{
  content: '';
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgb(251, 107, 244) 18%,
    rgb(247, 251, 56) 100%
  );
  filter: blur(15px);
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  animation: moveButton 2s infinite;
  background-size: 40% 200%;
}

.startButton:hover {
  background-color: rgb(25, 21, 29);
}

@keyframes moveButton {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 200px 440px;
  }
}

/* Home*/
.divNavBar{
  display: flex;
  justify-content: center;
  top: 0;
  align-items: center;
  width: 100%;
  margin:0px;
  padding: 20px 20px;
  background-color: rgb(2, 0, 3);
  z-index: 1000;
}

/*Cards*/
.divCards{
  display: flex; 
  flex-direction: column;
  width: 100%; 
  align-items: center;
  justify-content: center;
  padding: 20px 30px;
}

.divCardsContainer{
  display: grid; 
  grid-template-columns:  repeat(auto-fill, minmax(350px, 1fr));; 
  grid-gap: 40px; 
  width: 100%; 
  padding: 20px 30px;
  z-index: 4;
}

.divCard{
  width: 300px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  position: relative;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.4s;
}

.divCard:hover{
  transform: scale(1.02);
}

.divCard>span{
  position: absolute;
  overflow: hidden;
  width: 100px;
  height: 100px;
  top: -10px;
  left: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.divCard>span::before{
  position: absolute;
  content: attr(data-text);
  width: 150%;
  height: 40px;
  background: linear-gradient(
    45deg,
    #d747ff 0%,
    rgb(71, 255, 234) 51%,
    #edff47 100%
  );
  transform: rotate(-45deg) translateY(-20px);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.23);
  font-weight: 700;
}


.divCard>span::after{
  content:'';
  position: absolute;
  width: 10px;
  bottom: 0;
  left: 0;
  height: 10px;
  z-index: -1;
  box-shadow: 140px -140px #a1268e;
  background: linear-gradient(
    45deg,
    #d747ff 0%,
    rgb(71, 255, 234) 51%,
    #edff47 100%
  );
}


/*Loading*/
.divLoading{
  position: fixed;
  color: white;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Color de fondo con opacidad */
  z-index: 999; /* Asegura que esté por encima de otros elementos */
  display: flex;
  justify-content: center;
  align-items: center;
}

/*CreateVideogame*/
.divCreateVideogame{
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Inter', sans-serif;
  font-family: 'Kenia', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Russo One', sans-serif;
}


.containerInput{
  width: 330px;
  position: relative;
  margin: 40px;
}

.inputCreateVideogame{
  width: 100%;
  padding: 15px 8px;
  border: none;
  outline: none;
  border: 2px solid white;
  background-color: transparent;
  border-radius: 8px;
  color: white;
  font-size: 24px;
  display: inline-block;
}

#labelReleased{
  background-color: black;
}

.labelCreateVideogame {
  position: absolute;
  left: 8px;
  top: 1px;
  padding: 18px 8px 0;
  font-size: 20px;
  color: #ffffff;
  transition: all 0.1s linear;
}


.inputCreateVideogame:focus + .labelCreateVideogame,
.inputCreateVideogame:valid + .labelCreateVideogame {
  top: -14px;
  left: 4px;
  background-color: black;
  padding: 0 6px;
  color: rgb(62, 252, 192);
}

.buttonGenre{
  padding: 5px;
  margin: 5px;
  border: 2px solid black;
  background-color: white;
}

.buttonGenreSelected{
  padding: 5px;
  margin: 5px;
  border: 2px solid red;
  background-color: white;
}

.errorMessage{
  color: red;
}

.messageHide{
  visibility: hidden;
}

.message{
  color: white;
}

/*Filters*/
.filterSelect{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 450px;
  margin-top: 15px;
  margin-bottom: 30px;
}

