
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Kenia&family=Montserrat:wght@200;700&family=Russo+One&display=swap');

#root {
  margin: 0px;
  padding: 0px;
}
body {
  margin: 0px;
  padding: 0px;
}
html{
  margin: 0px;
  padding: 0px;
}

/*APP*/
.divApp{
  width: 100%;
  height: 100vh;
  background-color: rgb(19, 18, 20);
}

/*LANDING PAGE*/
.divLandingPage{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.videoLandingPage{
  width: 100%;
  height: 100%;
  position: relative;
}


.overlayContent {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  color: white     
}

.overlayContent button{
  margin-bottom: 100px;
}

.neonText{
  margin-top: 50px;
  font-family: 'Inter', sans-serif;
  font-family: 'Kenia', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Russo One', sans-serif;
  font-size: 120px;
  cursor:pointer;
  transition: .3s linear;
  color: transparent;
  -webkit-text-stroke: 2px rgb(246, 246, 68);
  background-image: linear-gradient(to left,
  rgb(29, 29, 7),rgb(246, 246, 68),rgb(161, 161, 44),black,rgb(35,31,31));
  background-size: 200%;
  -webkit-background-clip: text;
  animation: move 10s linear infinite;
}

@keyframes move {
  100% {
    background-position: 2000px 0;
  }
}

.neonText:hover{
  text-shadow: 0 0 10px rgba(238, 233, 62, 0.5),
                0 0 20px rgba(242, 111, 102, 0.35),
                0 0 40px rgba(215, 166, 246, 0.35),
                0 0 80px rgba(246, 242, 123, 0.5),
                0 0 160px rgba(246, 241, 117, 0.5);
}

.startButton{
  padding: 20px 60px;
  font-size: 35px;
  cursor: pointer;
  border-radius: 16px;
  border: none;
  outline: none;
  background-color: rgb(25, 21, 29,0.9);
  color: rgb(241, 237, 167);
  position: relative;
  font-family: 'Inter', sans-serif;
  font-family: 'Kenia', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Russo One', sans-serif;
}

.startButton::after{
  content: '';
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgb(251, 107, 244) 18%,
    rgb(247, 251, 56) 100%
  );
  filter: blur(15px);
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  animation: moveButton 2s infinite;
  background-size: 40% 200%;
}

.startButton:hover {
  background-color: rgb(25, 21, 29);
}

@keyframes moveButton {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 200px 440px;
  }
}

/* Home*/
.divHomeContent{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-family: 'Inter', sans-serif;
  font-family: 'Kenia', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Russo One', sans-serif;
  background-color: rgb(19, 18, 20);
}


/*Nav Bar*/
.divNavBar{
  display: flex;
  justify-content: space-between;
  top: 0;
  align-items: center;
  width: 100%;
  height: 85px;
  background-color: rgb(19, 18, 20);
  z-index: 1000;
  font-family: 'Inter', sans-serif;
  font-family: 'Kenia', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Russo One', sans-serif;
}

.divSearchBar{
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.buttonNav{
  background: transparent;
  font-size: 15px;
  padding: 15px;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: 'Inter', sans-serif;
  font-family: 'Kenia', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Russo One', sans-serif;
  color: rgb(248, 240, 100);
}

.buttonNav:hover{
  color: rgb(199, 193, 79);
}

.divCreateVideogameButton{
  margin-left: auto;
  padding-right: 30px;
}

.formInstructionMain h3{
  color: rgb(224, 218, 90);
  font-size: 35px;
}

.formInstructionMain p{
  margin-bottom: 30px;
  color: rgb(245, 183, 236);
  font-size: 15px;
}

.instructionsGenres p{
  color: rgb(243, 184, 234);
  font-size: 20px;
}

.createVideogameButton{
  padding: 15px;
  font-size: 15px;
  cursor: pointer;
  border-radius: 16px;
  margin-left: 20px;
  border: 2px solid rgb(248, 240, 100);
  outline: none;
  background-color: transparent;
  color: rgb(241, 237, 167);
  font-family: 'Inter', sans-serif;
  font-family: 'Kenia', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Russo One', sans-serif;
}

.createVideogameButton:hover{
  background: rgb(248, 240, 100);
  color: black;
}

/*Content*/
.divTextMain{
  margin: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 35px;
}

.divTextMain h2{
  color: transparent;
  -webkit-text-stroke: 2px rgb(240, 129, 235);
  text-shadow: 1px 1px 3px rgb(248, 240, 100,0.2);
}

.divTextMain p {
  width: 320px;
  font-size: 17px;
  color: rgba(240, 129, 234, 0.724);
}

/*Filters*/
.filterSelect{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 50px;
  color:black;
  background-color: rgb(245, 245, 115);
}

.filterSelectContent{
  width: 900px;
  display: flex;
  flex-direction: row;
}

.leftSideInformation{
  width: 50%;
  padding-top: 15px;
  margin-top: 60px;
  border-right: 2px solid rgba(60, 60, 21, 0.4);
}

.titleSearchGroupContent{
  display: flex;
  align-items: center;
  justify-content: center;
}

.titleSearchGroupContentText{
  width: 70%;
}

.containerInputSearch{
  width: 60%;
  position: relative;
  margin: 0 30px;
}

.inputSearchVideogame{
  width: 100%;
  padding: 15px 8px;
  border: none;
  outline: none;
  border: 2px solid rgb(1, 1, 1);
  background-color: transparent;
  border-radius: 8px;
  color: rgb(0, 0, 0);
  font-size: 24px;
  display: inline-block;
  font-family: 'Inter', sans-serif;
  font-family: 'Kenia', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Russo One', sans-serif;
}

.labelSearchInput{
  position: absolute;
  left: 8px;
  top: 1px;
  padding: 18px 8px 0;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.7);
  transition: all 0.1s linear;
}


.inputSearchVideogame:focus + .labelSearchInput,
.inputSearchVideogame:valid + .labelSearchInput {
  top: -14px;
  left: 4px;
  background-color: rgb(245, 245, 115);
  padding: 0 6px;
  color: rgb(8, 8, 8);
}

.searchVideogameButton{
  padding: 15px;
  font-size: 17px;
  font-family: 'Inter', sans-serif;
  font-family: 'Kenia', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Russo One', sans-serif;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.2s;
  color: rgb(245, 245, 115);
  background: rgb(32, 32, 21);
  border: 3px solid rgb(32, 32, 21);
  outline: none;
  box-shadow: 5px 5px rgba(237, 125, 219,0.1)
}

.searchVideogameButton:hover{
  background-color: rgb(245, 245, 115);
  color: rgb(19, 18, 20);
}

.rightSideFilters{
  margin-top: 60px;
  width: 50%;
}

.titleFilterGroup{
  display: flex;
  justify-content: center;
}

.titleFilterGroupContent{
  width: 70%;
  
}

.selectFilterByOrigin,
.selectFilterByGenre,
.selectOrder{
  padding: 10px;
  border-radius: 10px;
  border: 3px solid black;
  font-family: 'Inter', sans-serif;
  font-family: 'Kenia', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Russo One', sans-serif;
  background-color: rgb(19, 18, 20);
  color: rgb(231, 231, 106);
  font-size: 17px;
  width: 70%;
}

.cleanFiltersButton{
  margin: 40px;
  margin-bottom: 50px;
  padding: 15px 50px;
  font-size: 20px;
  font-family: 'Inter', sans-serif;
  font-family: 'Kenia', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Russo One', sans-serif;
  border-radius: 10px;
  border: 3px solid rgb(19, 18, 20);
  background-color: rgb(19, 18, 20);
  color: rgb(245, 245, 115);
  cursor: pointer;
}

.cleanFiltersButton:hover{
  background-color: rgb(245, 245, 115);
  color: rgb(19, 18, 20);
}


/*Cards*/
.divCards{
  display: flex; 
  flex-direction: column;
  width: 100%; 
  justify-content: center;
  
}

.divCardsContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0 40px;
}

.linkCard{
  text-decoration: none;
  display: inline-block;
  margin: 0;
  padding: 0;
}

.divCard{
  width: 300px;
  height: 370px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.4s;
  box-sizing: border-box;
  margin: 30px 30px;
  background: rgb(39, 39, 37);
  box-shadow: 0 0 10px rgba(5, 5, 5, 0.7);
}

.divCard:hover{
  transform: scale(1.02);
}

.divCard>span{
  position: absolute;
  overflow: hidden;
  width: 100px;
  height: 100px;
  top: -10px;
  left: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.divCard>span::before{
  position: absolute;
  content: attr(data-text);
  width: 150%;
  height: 40px;
  background: linear-gradient(
    45deg,
    #d554f9 0%,
    rgb(243, 255, 71) 51%,
    #d554f9 100%
  );
  transform: rotate(-45deg) translateY(-20px);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.23);
  font-weight: 700;
}


.divCard>span::after{
  content:'';
  position: absolute;
  width: 10px;
  bottom: 0;
  left: 0;
  height: 10px;
  z-index: -1;
  box-shadow: 140px -140px #a1268e;
  background: linear-gradient(
    45deg,
    #d747ff 0%,
    #edff47 51%,
    #d747ff 100%
  );
}

.linkCardUnique{
  text-decoration: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titleVideogameCard{
  text-decoration: none;
  color: rgb(226, 107, 241);
}

.genresCard{
  width: 250px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.genreLabel{
  padding: 8px;
  background-color: rgb(151, 52, 164);
  color: white;
  margin: 5px;
  border-radius: 5px;
  font-size: 13px;
}

.imageCard{
  width: 100%;
  height: 190px;
  object-fit: cover;
  object-position: top;
}

.divImageCard{
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
}

.divContentCardBottom{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/*Loading*/
.divLoading{
  position: fixed;
  color: white;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Color de fondo con opacidad */
  z-index: 999; /* Asegura que esté por encima de otros elementos */
  display: flex;
  justify-content: center;
  align-items: center;
}

/*CreateVideogame*/
.divCreateVideogame{
  width: 100%;
  background-color: rgb(19, 18, 20);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Inter', sans-serif;
  font-family: 'Kenia', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Russo One', sans-serif;
}


.containerInput{
  width: 100%;
  position: relative;
  margin-bottom: 30px;
}

.inputCreateVideogame{
  width: 600px;
  padding: 15px 8px;
  border: none;
  outline: none;
  border: 2px solid rgb(245, 245, 115);
  background-color: transparent;
  border-radius: 8px;
  color: rgb(245, 245, 115);
  font-size: 24px;
  display: inline-block;
  font-family: 'Inter', sans-serif;
  font-family: 'Kenia', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Russo One', sans-serif;
}

.inputCreateVideogameError{
  width: 600px;
  padding: 15px 8px;
  border: none;
  outline: none;
  border: 2px solid rgb(246, 76, 115);
  background-color: transparent;
  border-radius: 8px;
  color:  rgb(246, 76, 115);
  font-size: 24px;
  display: inline-block;
  font-family: 'Inter', sans-serif;
  font-family: 'Kenia', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Russo One', sans-serif;
}

#labelReleased{
  background-color: rgb(19, 18, 20);
}

.labelCreateVideogame {
  position: absolute;
  display: flex;
  justify-content: center;
  left: 50px;
  top: 1px;
  padding: 18px 8px 0;
  font-size: 20px;
  color: rgba(245, 245, 115, 0.6);
  transition: all 0.1s linear;
}

.labelCreateVideogameError {
  position: absolute;
  display: flex;
  justify-content: center;
  left: 50px;
  top: 1px;
  padding: 18px 8px 0;
  font-size: 20px;
  color: rgba(246, 76, 115,0.6);
  transition: all 0.1s linear;
}

.divCreateVideogameContent{
  width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.formCreateVideogame{
  width: 100%;
}

.inputCreateVideogame:focus + .labelCreateVideogame,
.inputCreateVideogame:valid + .labelCreateVideogame {
  top: -14px;
  left: 30px;
  background-color: rgb(19, 18, 20);
  padding: 0 6px;
  color: rgb(245, 245, 115);
}

.inputCreateVideogameError:focus + .labelCreateVideogameError,
.inputCreateVideogameError:valid + .labelCreateVideogameError {
  top: -14px;
  left: 30px;
  background-color: rgb(19, 18, 20);
  padding: 0 6px;
  color: rgba(246, 76, 115);
}

.buttonsGenreContainer{
  width: 100%;
  background-color: rgb(14, 13, 15);
  border-radius: 20px;
  display: flex;
  padding: 20px;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.divButtonGenre{
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
}

.buttonGenre{
  border-radius: 7px;
  padding: 5px;
  margin: 5px;
  border: 2px solid black;
  background-color: transparent;
  border: 1px solid rgb(208, 91, 217);
  color: rgb(208, 91, 217);
  flex-wrap: wrap;
  cursor: pointer;
}

.buttonGenreSelected{
  border-radius: 7px;
  padding: 5px;
  margin: 5px;
  border: 1px solid rgb(208, 91, 217);
  background-color: rgb(208, 91, 217);
  color: black;
  cursor: pointer;
}

.buttonCreateVideogame{
  padding: 20px 40px;
  font-size: 20px;
  font-family: 'Inter', sans-serif;
  font-family: 'Kenia', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Russo One', sans-serif;
  border-radius: 20px;
  background-color: transparent;
  border: 3px solid rgb(215, 217, 91);
  outline: none;
  color: rgb(215, 217, 91);
  cursor: pointer;
}

.buttonCreateVideogame:hover{
  background-color: rgb(215, 217, 91);
  color: black;
}

.buttonCreateVideogame:disabled{
  cursor: not-allowed;
  color: rgb(215, 217, 91);
  border: 3px solid rgb(215, 217, 91);
  background-color: transparent;
}

.errorMessage{
  color: rgb(246, 76, 115);
}

.messageHide{
  visibility: hidden;
}

.divMessageResponseCreate{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  margin-bottom: 30px;
}

.messageResponse{
  color: white;
  font-size: 15px;
  font-family: 'Inter', sans-serif;
  font-family: 'Kenia', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Russo One', sans-serif;
}

/*Pagination*/

.divPagination{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.pagination{
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.page-link{
  padding: 9px 15px;
  font-size: 20px;
  margin: 8px;
  border-radius: 10px;
  font-family: 'Inter', sans-serif;
  font-family: 'Kenia', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Russo One', sans-serif;
  cursor: pointer;
  background-color: transparent;
  border: 2px solid rgba(222, 86, 224);
  color: rgba(222, 86, 224);
  outline: none;
  box-shadow: 0 0 10px rgba(222, 86, 224, 0.2);
}

.page-link:hover{
  background-color: rgba(222, 86, 224);
  color: white;
}

.page-link-sup{
  padding: 9px 15px;
  font-size: 20px;
  margin: 8px;
  border-radius: 10px;
  font-family: 'Inter', sans-serif;
  font-family: 'Kenia', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Russo One', sans-serif;
  cursor: pointer;
  background-color: transparent;
  border: 2px solid rgb(224, 219, 86);
  color: rgb(224, 219, 86);
  outline: none;
  box-shadow: 0 0 10px rgba(219, 224, 86, 0.2);
}

.page-link-sup:hover{
  background-color: rgb(224, 219, 86);
  color: black;
}

.active .page-link{
  background-color: rgba(222, 86, 224);
  color: white;
}

.active .page-link-sup{
  background-color: rgb(224, 219, 86);
  color: black;
}


/*Detail*/

.divDetail{
  padding-top: 40px;
  background-color: rgb(19, 18, 20);
  width: 100%;
  font-family: 'Inter', sans-serif;
  font-family: 'Kenia', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Russo One', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.divDetailContent{
  display: flex;
  width: 1000px;
  padding-bottom: 40px;
  text-align: center;
  overflow: hidden;
  background-color: rgb(10, 10, 10);
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(210, 57, 195,0.4);
}

.divDetailContentLeft{
  width: 50%;
  display: flex;
  flex-direction: column;
}

.divDetailContentLeftExtra{
  color: rgb(244, 242, 180);
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.genreLabelDetail{
  border-radius: 6px;
  background-color: transparent!important;
  border: 1px solid #edff47;
  margin: 5px;
}

.divDetailContentLeftExtra label{
    background-color: rgb(161, 49, 155);
    padding: 5px;
    font-size: 18px;
    
}

.labeltagDetail{
  margin-top: 20px;
}

.imageContent{
  width: 100%;
}

.imageContent img {
  width: 100%;
  object-fit: cover;
  object-position: top;
}

.divDetailContentRight{
  width: 50%;
  text-align: center;
  padding: 30px;
}

.divDetailContentRight h2{
  color: rgb(240, 237, 142);
  font-size: 35px;
}

.descriptionDetail{
  color: rgb(250, 232, 250);
  font-size: 17px;
  
  padding-left: 30px;
  padding-right: 30px;
}

.tagsDetail{
  width: 90%!important;
  margin-top: 8px!important;
}

.footerApp{
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  background-color: rgb(19, 18, 20);
  color: rgb(250, 232, 250);
  font-size: 17px;
  padding: 10px 0;
  padding-top: 40px;
}