
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Kenia&family=Montserrat:wght@200;700&family=Russo+One&display=swap');

#root {
  margin: 0px;
  padding: 0px;
}
body {
  margin: 0px;
  padding: 0px;
}
html{
  margin: 0px;
  padding: 0px;
}

/*APP*/
.divApp{
  width: 100%;
  height: 100vh;
  background-color: rgb(19, 18, 20);
}

/*LANDING PAGE*/
.divLandingPage{
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background:  linear-gradient(to bottom right, rgba(2, 13, 13, 0.1), rgba(40, 144, 144, 0.2));
}

.videoLandingPage{
  width: 100%;
  min-height: 100%;
  position: relative;
}

.divContentLanding{
  display: flex;
  flex-direction: column;
}


.overlayContent {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: white     
}

.overlayContent p{
  font-family: 'Inter', sans-serif;
  font-family: 'Kenia', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Russo One', sans-serif;
  width: 400px;
  font-size: 20px;
  color: #95f9f29d;
}


.neonText{
  margin-top: 50px;
  font-family: 'Inter', sans-serif;
  font-family: 'Kenia', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Russo One', sans-serif;
  font-size: 100px;
  cursor:pointer;
  transition: .3s linear;
  color: transparent;
  -webkit-text-stroke: 2px rgb(86, 224, 243);
  background-image: linear-gradient(to left,
  rgba(29, 29, 7,0.8),rgba(59, 221, 242,0.8),rgba(59, 221, 242,0.8),rgba(10, 10, 10,0.8),rgba(35,31,31,0.8));
  background-size: 200%;
  -webkit-background-clip: text;
  animation: move 10s linear infinite;
}

@keyframes move {
  100% {
    background-position: 2000px 0;
  }
}

.neonText:hover{
  text-shadow: 0 0 10px rgba(59, 221, 242, 0.5),
                0 0 20px rgba(242, 111, 102, 0.35),
                0 0 40px rgba(215, 166, 246, 0.35),
                0 0 80px rgba(59, 221, 242, 0.5),
                0 0 160px rgba(59, 221, 242, 0.5);
}

.startButton{
  padding: 20px 50px;
  font-size: 35px;
  cursor: pointer;
  border-radius: 16px;
  border: 3px solid rgb(86, 224, 243);
  outline: none;
  background-color: rgba(30, 29, 29,0.5);
  color: rgb(86, 224, 243);
  transition: 0.1s linear;
  position: relative;
  font-family: 'Inter', sans-serif;
  font-family: 'Kenia', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Russo One', sans-serif;
  margin-top: 40px;
}

.startButton:hover {
  background-color: rgb(18, 18, 18);
  color: rgb(86, 224, 243);
  box-shadow: 0 0 5px rgba(59, 221, 242, 0.5),
                0 0 10px rgba(242, 111, 102, 0.35),
                0 0 20px rgba(215, 166, 246, 0.35),
                0 0 40px rgba(59, 221, 242, 0.5),
                0 0 80px rgba(59, 221, 242, 0.5);
}

@keyframes moveButton {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 200px 440px;
  }
}

/* Home*/

.divHome{
  min-height: 100vh;
  background-color: rgb(19, 18, 20);
}

.divHomeContent{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-family: 'Inter', sans-serif;
  font-family: 'Kenia', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Russo One', sans-serif;
  background-color: rgb(19, 18, 20);
}


/*Nav Bar*/
.divNavBar{
  display: flex;
  justify-content: space-between;
  top: 0;
  align-items: center;
  width: 100%;
  height: 85px;
  background-color: rgb(19, 18, 20);
  z-index: 1000;
  font-family: 'Inter', sans-serif;
  font-family: 'Kenia', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Russo One', sans-serif;
}

.divSearchBar{
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.buttonNav{
  background: transparent;
  font-size: 15px;
  padding: 15px;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: 'Inter', sans-serif;
  font-family: 'Kenia', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Russo One', sans-serif;
  color: rgb(158, 251, 245);
}

.buttonNav:hover{
  color: rgb(75, 194, 186);
}

.neonTextNavBar{
  font-size: 40px!important;
  -webkit-text-stroke: 1px rgb(139, 232, 244)!important;
  background-image: linear-gradient(to left,
  rgba(29, 29, 7,0.8),rgba(151, 230, 241, 0.8),rgba(130, 232, 245, 0.8),rgba(10, 10, 10,0.8),rgba(35,31,31,0.8))!important;
  background-size: 200%;
  margin: 0!important;
  margin-left: 25px!important;
}

.divCreateVideogameButton{
  margin-left: auto;
  padding-right: 30px;
}

.formInstructionMain h3{
  color: rgb(107, 246, 239);
  font-size: 35px;
}

.formInstructionMain p{
  margin-bottom: 30px;
  color: rgb(249, 172, 237);
  font-size: 15px;
}

.instructionsGenres p{
  color: rgb(243, 184, 234);
  font-size: 20px;
}

.createVideogameButton{
  padding: 15px;
  font-size: 15px;
  cursor: pointer;
  border-radius: 16px;
  margin-left: 20px;
  border: 2px solid rgb(158, 251, 245);
  outline: none;
  background-color: transparent;
  color: rgb(158, 251, 245);
  font-family: 'Inter', sans-serif;
  font-family: 'Kenia', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Russo One', sans-serif;
}

.createVideogameButton:hover{
  background: rgb(108, 247, 238);
  color: black;
}

.menuIcon {
  cursor: pointer;
  font-size: 30px; 
  margin-right: 10px; 
  color: rgb(108, 247, 238);
  padding-right: 10px;
}

.menuDropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 40px; 
  right: 0; 
  background-color: rgb(19, 18, 20); 
  color: rgb(108, 247, 238);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  border-radius: 4px; 
  z-index: 1; 
}

.menuDropdown a {
  padding: 10px;
  text-decoration: none;
  color: rgb(108, 247, 238);
  transition: background-color 0.3s ease; 
  font-size: 18px;
}

.menuDropdown a:hover {
  background-color: rgb(30, 28, 31);
}


/*Content*/
.divTextMain{
  margin: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 35px;
}

.divTextMain h2{
  color: transparent;
  -webkit-text-stroke: 2px rgb(245, 114, 188);
  text-shadow: 1px 1px 5px rgba(247, 239, 87, 0.1);
}

.divTextMain p {
  width: 320px;
  font-size: 17px;
  color: rgba(245, 127, 194, 0.7);
}

/*Filters*/
.filterSelect{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 50px;
  color:black;
  background-color: rgb(158, 251, 245);
}

.filterSelectContent{
  width: 900px;
  display: flex;
  flex-direction: row;
}

.leftSideInformation{
  width: 50%;
  padding-top: 15px;
  margin-top: 60px;
  border-right: 2px solid rgba(60, 60, 21, 0.4);
}

.titleSearchGroupContent{
  display: flex;
  align-items: center;
  justify-content: center;
}

.titleSearchGroupContentText{
  width: 70%;
}

.containerInputSearch{
  width: 60%;
  position: relative;
  margin: 0 30px;
}

.inputSearchVideogame{
  width: 100%;
  padding: 15px 8px;
  border: none;
  outline: none;
  border: 2px solid rgb(1, 1, 1);
  background-color: transparent;
  border-radius: 8px;
  color: rgb(0, 0, 0);
  font-size: 24px;
  display: inline-block;
  font-family: 'Inter', sans-serif;
  font-family: 'Kenia', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Russo One', sans-serif;
}

.labelSearchInput{
  position: absolute;
  left: 8px;
  top: 1px;
  padding: 18px 8px 0;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.7);
  transition: all 0.1s linear;
}


.inputSearchVideogame:focus + .labelSearchInput,
.inputSearchVideogame:valid + .labelSearchInput {
  top: -14px;
  left: 4px;
  background-color: rgb(158, 251, 245);
  padding: 0 6px;
  color: rgb(8, 8, 8);
}

.searchVideogameButton{
  padding: 15px;
  font-size: 17px;
  font-family: 'Inter', sans-serif;
  font-family: 'Kenia', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Russo One', sans-serif;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.2s;
  color: rgb(158, 251, 245);
  background: rgb(32, 32, 21);
  border: 3px solid rgb(32, 32, 21);
  outline: none;
  box-shadow: 5px 5px rgba(237, 125, 219,0.1)
}

.searchVideogameButton:hover{
  background-color: rgb(158, 251, 245);
  color: rgb(19, 18, 20);
}

.rightSideFilters{
  margin-top: 60px;
  width: 50%;
}

.titleFilterGroup{
  display: flex;
  justify-content: center;
}

.titleFilterGroupContent{
  width: 70%;
  
}

.selectFilterByOrigin,
.selectFilterByGenre,
.selectOrder{
  padding: 10px;
  border-radius: 10px;
  border: 3px solid black;
  font-family: 'Inter', sans-serif;
  font-family: 'Kenia', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Russo One', sans-serif;
  background-color: rgb(19, 18, 20);
  color: rgb(158, 251, 245);
  font-size: 17px;
  width: 70%;
}

.cleanFiltersButton{
  margin: 40px;
  margin-bottom: 50px;
  padding: 15px 50px;
  font-size: 20px;
  font-family: 'Inter', sans-serif;
  font-family: 'Kenia', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Russo One', sans-serif;
  border-radius: 10px;
  border: 3px solid rgb(19, 18, 20);
  background-color: rgb(19, 18, 20);
  color: rgb(158, 251, 245);
  cursor: pointer;
}

.cleanFiltersButton:hover{
  background-color: rgb(158, 251, 245);
  color: rgb(19, 18, 20);
}


/*Cards*/
.divCards{
  display: flex; 
  flex-direction: column;
  width: 100%; 
  justify-content: center;
  
}

.messageWithoutVideogames{
  color: rgba(245, 127, 194);
  font-size: 20px;
}

.divCardsContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0 40px;
}

.linkCard{
  text-decoration: none;
  display: inline-block;
  margin: 0;
  padding: 0;
}

.divCard{
  width: 300px;
  height: 370px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.4s;
  box-sizing: border-box;
  margin: 30px 30px;
  background: rgb(39, 39, 37);
  box-shadow: 0 0 10px rgba(5, 5, 5, 0.7);
}

.divCard:hover{
  transform: scale(1.02);
}

.divCard>span{
  position: absolute;
  overflow: hidden;
  width: 100px;
  height: 100px;
  top: -10px;
  left: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.divCard>span::before{
  position: absolute;
  content: attr(data-text);
  width: 150%;
  height: 40px;
  background: linear-gradient(
    45deg,
    rgb(241, 107, 203) 0%,
    rgb(108, 247, 238) 51%,
    rgb(241, 107, 203) 100%
  );
  transform: rotate(-45deg) translateY(-20px);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.23);
  font-weight: 700;
}


.divCard>span::after{
  content:'';
  position: absolute;
  width: 10px;
  bottom: 0;
  left: 0;
  height: 10px;
  z-index: -1;
  box-shadow: 140px -140px #a1268e;
  background: linear-gradient(
    45deg,
    rgb(241, 107, 203) 0%,
    #6cf7ee 51%,
    rgb(241, 107, 203) 100%
  );
}

.linkCardUnique{
  text-decoration: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titleVideogameCard{
  text-decoration: none;
  color: rgb(241, 107, 203);
}

.genresCard{
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.genreLabel{
  padding: 8px;
  background-color: rgb(173, 47, 150);
  color: white;
  margin: 5px;
  border-radius: 5px;
  font-size: 13px;
}

.imageCard{
  width: 100%;
  height: 190px;
  object-fit: cover;
  object-position: top;
}

.divImageCard{
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
}

.divContentCardBottom{
  padding: 2px;
  display: flex;
  max-width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/*Loading*/
.divLoading{
  position: fixed;
  color: rgb(161, 241, 232);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 30px;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 999; 
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  font-family: 'Inter', sans-serif;
  font-family: 'Kenia', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Russo One', sans-serif;
}

/*CreateVideogame*/
.divCreateVideogame{
  max-width: 100%;
  background-color: rgb(19, 18, 20);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Inter', sans-serif;
  font-family: 'Kenia', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Russo One', sans-serif;
}


.containerInput{
  max-width: 100%;
  position: relative;
  margin-bottom: 30px;
}

.inputCreateVideogame{
  width: 600px;
  padding: 15px 8px;
  border: none;
  outline: none;
  border: 2px solid rgb(107, 246, 239);
  background-color: transparent;
  border-radius: 8px;
  color: rgb(107, 246, 239);
  font-size: 24px;
  display: inline-block;
  font-family: 'Inter', sans-serif;
  font-family: 'Kenia', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Russo One', sans-serif;
}

.inputCreateVideogameError{
  width: 600px;
  padding: 15px 8px;
  border: none;
  outline: none;
  border: 2px solid rgb(246, 76, 115);
  background-color: transparent;
  border-radius: 8px;
  color:  rgb(246, 76, 115);
  font-size: 24px;
  display: inline-block;
  font-family: 'Inter', sans-serif;
  font-family: 'Kenia', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Russo One', sans-serif;
}

#labelReleased{
  background-color: rgb(19, 18, 20);
}

.labelCreateVideogame {
  position: absolute;
  display: flex;
  justify-content: center;
  left: 50px;
  top: 1px;
  padding: 18px 8px 0;
  font-size: 20px;
  color: rgba(107, 246, 239,0.6);
  transition: all 0.1s linear;
}

.labelCreateVideogameError {
  position: absolute;
  display: flex;
  justify-content: center;
  left: 50px;
  top: 1px;
  padding: 18px 8px 0;
  font-size: 20px;
  color: rgba(246, 76, 115,0.6);
  transition: all 0.1s linear;
}

.divCreateVideogameContent{
  width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.formCreateVideogame{
  max-width: 100%;
}

.inputCreateVideogame:focus + .labelCreateVideogame,
.inputCreateVideogame:valid + .labelCreateVideogame {
  top: -14px;
  left: 30px;
  background-color: rgb(19, 18, 20);
  padding: 0 6px;
  color: rgb(107, 246, 239);
}

.inputCreateVideogameError:focus + .labelCreateVideogameError,
.inputCreateVideogameError:valid + .labelCreateVideogameError {
  top: -14px;
  left: 30px;
  background-color: rgb(19, 18, 20);
  padding: 0 6px;
  color: rgba(246, 76, 115);
}

.buttonsGenreContainer{
  max-width: 100%;
  background-color: rgb(14, 13, 15);
  border-radius: 20px;
  display: flex;
  padding: 20px;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.divButtonGenre{
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
}

.buttonGenre{
  border-radius: 7px;
  padding: 5px;
  margin: 5px;
  border: 2px solid black;
  background-color: transparent;
  border: 1px solid rgb(208, 91, 217);
  color: rgb(208, 91, 217);
  flex-wrap: wrap;
  cursor: pointer;
}

.buttonGenreSelected{
  border-radius: 7px;
  padding: 5px;
  margin: 5px;
  border: 1px solid rgb(208, 91, 217);
  background-color: rgb(208, 91, 217);
  color: black;
  cursor: pointer;
}

.buttonCreateVideogame{
  padding: 20px 40px;
  font-size: 20px;
  font-family: 'Inter', sans-serif;
  font-family: 'Kenia', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Russo One', sans-serif;
  border-radius: 20px;
  background-color: transparent;
  border: 3px solid rgb(107, 246, 239);
  outline: none;
  color: rgb(107, 246, 239);
  cursor: pointer;
}

.buttonCreateVideogame:hover{
  background-color: rgb(107, 246, 239);
  color: black;
}

.buttonCreateVideogame:disabled{
  cursor: not-allowed;
  color: rgb(107, 246, 239);
  border: 3px solid rrgb(107, 246, 239);
  background-color: transparent;
}

.errorMessage{
  color: rgb(246, 76, 115);
  font-size: 15px;
}

.messageHide{
  visibility: hidden;
}

.divMessageResponseCreate{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  margin-bottom: 30px;
}

.messageResponse{
  color: white;
  font-size: 15px;
  font-family: 'Inter', sans-serif;
  font-family: 'Kenia', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Russo One', sans-serif;
}

/*Pagination*/

.divPagination{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.pagination{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  padding: 0px;
}

.page-link{
  padding: 9px 15px;
  font-size: 20px;
  margin: 8px;
  border-radius: 10px;
  font-family: 'Inter', sans-serif;
  font-family: 'Kenia', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Russo One', sans-serif;
  cursor: pointer;
  background-color: transparent;
  border: 2px solid rgb(224, 86, 192);
  color: rgb(224, 86, 192);
  outline: none;
  box-shadow: 0 0 10px rgba(222, 86, 224, 0.2);
}

.page-link:hover{
  background-color: rgb(224, 86, 192);
  color: white;
}

.page-link-sup{
  padding: 9px 15px;
  font-size: 20px;
  margin: 8px;
  border-radius: 10px;
  font-family: 'Inter', sans-serif;
  font-family: 'Kenia', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Russo One', sans-serif;
  cursor: pointer;
  background-color: transparent;
  border: 2px solid rgb(108, 247, 238);
  color: rgb(108, 247, 238);
  outline: none;
  box-shadow: 0 0 10px rgba(219, 224, 86, 0.2);
}

.page-link-sup:hover{
  background-color: rgb(108, 247, 238);
  color: black;
}

.active .page-link{
  background-color: rgb(224, 86, 192);
  color: white;
}

.active .page-link-sup{
  background-color: rgb(108, 247, 238);
  color: black;
}


/*Detail*/

.divDetail{
  padding-top: 40px;
  background-color: rgb(19, 18, 20);
  width: 100%;
  height: 100vh;
  font-family: 'Inter', sans-serif;
  font-family: 'Kenia', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Russo One', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.divDetailContent{
  display: flex;
  width: 1000px;
  padding-bottom: 40px;
  text-align: center;
  overflow: hidden;
  background-color: rgb(10, 10, 10);
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(210, 57, 195,0.4);
}

.divDetailContentLeft{
  width: 50%;
  display: flex;
  flex-direction: column;
}

.divDetailContentLeftExtra{
  color: rgb(244, 242, 180);
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.genreLabelDetail{
  border-radius: 6px;
  background-color: transparent!important;
  border: 1px solid #edff47;
  margin: 5px;
}

.divDetailContentLeftExtra label{
    background-color: rgb(161, 49, 155);
    padding: 5px;
    font-size: 18px;
    
}

.labeltagDetail{
  margin-top: 20px;
}

.imageContent{
  width: 100%;
}

.imageContent img {
  width: 100%;
  object-fit: cover;
  object-position: top;
}

.divDetailContentRight{
  width: 50%;
  text-align: center;
  padding: 30px;
}

.divDetailContentRight h2{
  color: rgb(240, 237, 142);
  font-size: 35px;
}

.descriptionDetail{
  color: rgb(250, 232, 250);
  font-size: 17px;
  
  padding-left: 30px;
  padding-right: 30px;
}

.tagsDetail{
  width: 90%!important;
  margin-top: 8px!important;
}

.footerApp{
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  background-color: rgb(19, 18, 20);
  color: rgb(250, 232, 250);
  font-size: 17px;
  padding: 10px 0;
  padding-top: 40px;
}

/*Toasts*/
.toastError{
  background-color: rgb(34, 32, 36)!important;
  color: rgb(250, 103, 122)!important;
  font-size: 17px!important;
  border-radius: 9px!important;
  font-family: 'Inter', sans-serif!important;
  font-family: 'Kenia', sans-serif!important;
  font-family: 'Montserrat', sans-serif!important;
  font-family: 'Russo One', sans-serif!important;
  box-shadow: 0 0 0 3px rgba(250, 103, 122, 0.2)!important;
}

.toastSuccess{
  background-color: rgb(34, 32, 36)!important;
  color: rgb(137, 250, 103)!important;
  font-size: 17px!important;
  border-radius: 9px!important;
  font-family: 'Inter', sans-serif!important;
  font-family: 'Kenia', sans-serif!important;
  font-family: 'Montserrat', sans-serif!important;
  font-family: 'Russo One', sans-serif!important;
  box-shadow: 0 0 0 3px rgba(115, 250, 103, 0.2)!important;
}


/*Reviews*/
.divFormReviewsContent{
  width: 750px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.divReviews{
  width: 100%;
  background-color: rgb(19, 18, 20);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Inter', sans-serif;
  font-family: 'Kenia', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Russo One', sans-serif;
}
.divFormReviews{
  width: 100%;
}


.divStarsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.divStar{
  margin: 4px;
}

.inputReview{
  width: 90%;
  padding: 15px 8px;
  border: none;
  outline: none;
  border: 2px solid rgb(107, 246, 239);
  background-color: transparent;
  border-radius: 8px;
  color: rgb(107, 246, 239);
  font-size: 17px;
  display: inline-block;
  font-family: 'Inter', sans-serif;
  font-family: 'Kenia', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Russo One', sans-serif;
}
.inputReviewError{
  width: 90%;
  padding: 15px 8px;
  border: none;
  outline: none;
  border: 2px solid rgb(244, 58, 64);
  background-color: transparent;
  border-radius: 8px;
  color: rgb(244, 58, 64);
  font-size: 17px;
  display: inline-block;
  font-family: 'Inter', sans-serif;
  font-family: 'Kenia', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Russo One', sans-serif;
}
.labelReview{
  position: absolute;
  display: flex;
  justify-content: center;
  left: 20px;
  top: -2px;
  padding: 18px 8px 0;
  font-size: 20px;
  color: rgba(107, 246, 239,0.6);
  transition: all 0.1s linear;
}
.labelReviewError{
  position: absolute;
  display: flex;
  justify-content: center;
  left: 20px;
  top: -2px;
  padding: 18px 8px 0;
  font-size: 20px;
  color: rgb(244, 58, 64);
  transition: all 0.1s linear;
}

.inputReview:focus + .labelReview,
.inputReview:valid + .labelReview {
  top: -14px;
  left: 0px;
  background-color: rgb(19, 18, 20);
  padding: 0 6px;
  color: rgb(107, 246, 239);
}

.inputReviewError:focus + .labelReviewError,
.inputReviewError:valid + .labelReviewError {
  top: -14px;
  left: 0px;
  background-color: rgb(19, 18, 20);
  padding: 0 6px;
  color: rgb(244, 58, 64);
}

.containerInputAndStars{
  width: 60%!important;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px!important;
  align-items: left;
}

.containerComments{
  width: 100%!important;
  display: flex;
  margin-bottom: 10px!important;
  flex-direction: column;
  align-items: left;
}

.firstContainerReview{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 40px;
}


.labelRatingTag{
  margin: 0;
  color: #6cf7ee;
}

.buttonReview{
  padding: 15px 25px;
  font-size: 15px;
  font-family: 'Inter', sans-serif;
  font-family: 'Kenia', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Russo One', sans-serif;
  border-radius: 20px;
  background-color: transparent;
  border: 3px solid rgb(107, 246, 239);
  outline: none;
  color: rgb(107, 246, 239);
  cursor: pointer;
}

.buttonReview:hover{
  background-color: rgb(107, 246, 239);
  color: black;
}

.buttonReview:disabled{
  cursor: not-allowed;
  color: rgb(107, 246, 239);
  border: 3px solid rrgb(107, 246, 239);
  background-color: transparent;
}
.reviewsContainerContent{
  margin-top: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.divReviewContent{
  max-width: 100%;
  background-color: rgb(30, 28, 28);
  margin-bottom: 25px;
  border-radius: 10px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding: 20px;
}

.divReviewContentFirstLine{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.divReviewContentFirstLineName{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.divReviewContentFirstLineName svg{
  margin-right: 10px;
}

.divReviewContentFirstLineName h2{
  color: rgb(97, 227, 245);
}

.divReviewContent p{
  color: white;
  font-size: 17px;
}

/*About*/
.divAbout{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', sans-serif;
  font-family: 'Kenia', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Russo One', sans-serif;
  background-color: rgb(19, 18, 20);
}

.firstContainerAbout{
  width: 700px;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 60px;
  margin-top: 40px;
}

.firstContainerAboutLeftSide{
  width: 100%;
  display: flex;
  background-color: transparent;
  color: rgb(247, 220, 238);
  font-size: 25px;
}
.aboutAppLeft{
  width: 100%;
  text-align: left;
}
.aboutDeveloperRight{
  width: 100%;
  text-align: right;
}

.firstContainerAboutrightSide{
  max-width: 100%;
}
.firstContainerAboutrightSide{
  padding: 40px;
  color: #8bf5ee;
  background-color: rgba(27, 27, 27);
}

@media screen and (max-width: 1185px) {
  
  .divCard{
    width: 250px;
    height: 270px;
  }
  .imageCard{
    height: 130px;
  }
  .divContentCardBottom h2{
    font-size: 18px;
  }
  .genreLabel{
    padding: 5px;
    font-size: 11px;
  }
  .divCard>span{
    width: 80px;
    height: 80px;
    font-size: 12px;
    font-weight: 100;
  }
  .divCard>span::before{
    width: 120%;
    height: 30px;
    font-size: 12px;
    font-weight: 100;
  }
  .divCard>span::after{
    width: 0px;
    height: 0px;
    font-size: 12px;
    font-weight: 100;
  }
}

@media screen and (max-width: 930px) {
  
  .filterSelectContent{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
  }
  .leftSideInformation{
    border-right: none;
    width: 70%;
  }
  .rightSideFilters{
    width: 70%;
  }
  .divSearchBar{
    margin-bottom: 10px;
  }
  .selectFilterByOrigin,
  .selectFilterByGenre,
  .selectOrder{
    background-color: rgba(158, 251, 245);
    color: black;
  }
}

@media screen and (max-width: 954px){
  .divFormReviewsContent{
    width: 90%;
  }
}

@media screen and (max-width: 900px){
  .firstContainerAbout{
    max-width: 90%;
  }
  .page-link{
    padding: 7px 9px;
    font-size: 17px;
    margin: 4px;
  }
  .page-link-sup{
    padding: 7px 9px;
    font-size: 17px;
    margin: 4px;
  }
}

@media screen and (max-width: 820px){
  .instructionsGenres p{
    font-size: 15px;
  }
  .divCreateVideogameContent{
    max-width: 90%;
  }
  .inputCreateVideogame{
    max-width: 90%;
    padding: 12px 15px;
    font-size: 15px;
  }
  .inputCreateVideogameError{
    max-width: 90%;
    padding: 12px 15px;
    font-size: 15px;
  }
  .labelCreateVideogame{
    padding: 12px 3px 0;
    font-size: 15px;
    left: 15px;
  }
  .labelCreateVideogameError{
    padding: 12px 3px 0;
    font-size: 15px;
    left: 15px;
  }
}

@media screen and (max-width: 730px){

  .buttonCreateVideogame{
    padding: 15px 20px;
    font-size: 15px;
  }
  .buttonGenre{
    font-size: 14px;
  }
  .buttonGenreSelected{
    font-size: 14px;
  }
  .aboutAppLeft,.aboutDeveloperRight{
    text-align: center;
    font-size: 27px;
  }
  .buttonReview{
    padding: 10px 20px;
    font-size: 12px;
  }
  .labelReview{
    padding: 14px 2px 0;
    font-size: 13px;
  }
  .labelReviewError{
    padding: 12px 2px 0;
    font-size: 13px;
  }
  .inputReview{
    font-size: 13px;
    padding: 12px 6px;
  }
  .inputReviewError{
    font-size: 14px;
    padding: 12px 6px;
  }
  .errorMessage{
    font-size: 10px;
  }
  .divStar svg{
    height: 12px;
  }

  .divReviewContentFirstLineName h2{
    font-size: 15px;
  }
  .divReviewContent p{
    font-size: 12px;
  }

  .neonText{
    font-size: 70px;
  }
  .overlayContent p{
    font-size: 15px;
  }
  .startButton{
    font-size: 25px;
    padding: 10px 20px;
  }

  .page-link{
    padding: 5px 8px;
    font-size: 14px;
    margin: 3px;
  }
  .page-link-sup{
    padding: 5px 8px;
    font-size: 15px;
    margin: 3px;
  }
  .divCard{
    width: 120px;
    height: 150px;
    margin: 15px;
  }
  .imageCard{
    height: 70px;
  }
  .divContentCardBottom h2{
    font-size: 8px;
  }
  .genreLabel{
    padding: 2px;
    font-size: 5px;
  }
  .divCard>span{
    width: 80px;
    height: 80px;
    font-size: 12px;
    font-weight: 100;
  }
  .divCard>span::before{
    width: 120%;
    height: 30px;
    font-size: 12px;
    font-weight: 100;
  }
  .divCard>span::after{
    width: 0px;
    height: 0px;
    font-size: 12px;
    font-weight: 100;
  }
  .divCardsContainer{
    padding: 0 10px;
  }
  .leftSideInformation{
    width: 90%;
  }
  .rightSideFilters{
    width: 90%;
  }
  .inputSearchVideogame{
    font-size: 18px;
    padding: 12px 6px;
  }
  .labelSearchInput{
    left: 8px;
    top: 0px;
    padding: 15px 8px 0;
    font-size: 15px;
  }
  .searchVideogameButton{
    padding: 10px;
    font-size: 15px;
  }
  .selectFilterByOrigin,
  .selectFilterByGenre,
  .selectOrder{
    padding: 5px;
    font-size: 15px;
  }
  .cleanFiltersButton{
    padding: 10px 30px;
    font-size: 15px;
  }
  .rightSideFilters{
    margin-top: 40px;
  }
}

@media screen and (max-width: 650px){
  .page-link{
    padding: 4px 5px;
    font-size: 10px;
    margin: 2px;
  }
  .page-link-sup{
    padding: 4px 5px;
    font-size: 10px;
    margin: 2px;
  }
  
}
